# === Sistema e Metadados ===
/System Volume Information/
*.log
*.tmp
*.jsonl

roms/*/*
roms/*/*.*
!roms/*/gamelist.xml
!roms/**/gamelist.xml
!roms/*/.gitkeep

# === Cache e Compilados ===__pycache__
.ruff_cache

# === Exceções (Não ignorar) ===
!.gitkeep
!.gitignore