{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 70,
  "bracketSpacing": true,
  "arrowParens": "always",
  "experimentalTernaries": true
}
